node_modules
tmp/
log.txt
npm-debug.log
npm-debug.log.*
debug.log

/build/
/content/files.jsm
/icons/*/*.png
/icons/urls.js
/native/native.*
/native/*.json
files.json
manifest.json
view.html
*.xpi
*.zip
