node_modules
tmp/
*.xpi
log.txt
npm-debug.log
npm-debug.log.*
debug.log

/build/
/content/files.jsm
/icons/*/*.png
/icons/urls.js
/native/native.*
/native/*.json
/update/*/versions.json
/sdk/webextension/
/sdk/package.json
