/* license: MPL-2.0 */

* {
	box-sizing: border-box;
}
body {
	width: 220px;
	margin: 0;
	padding: 10px;
}
_:-moz-tree-row(hover), body { /* firefox only */
	border: 2px solid white;
}

input, select, option {
	overflow: hidden;
	text-overflow: ellipsis;
	margin: 5px 0;
}
input, select {
	width: 200px;
}
option {
	max-width: 200px;
}

